.common-col-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 32px;
}

.command-result {
  min-height: 36px;
  max-height: 72px;
  max-width: 720px;
  overflow-y: scroll;
}

.common-button {
  max-width: 72px;
  height: 36px;
  margin-top: 24px;
}
